.jumbotron{
  background-image: url(../assets/image.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}
h1{
  color:#08E8AE;
}
p{
  font-weight: bold;
  color:#E82708;
}
h3{
  text-align: left;
}
.col-sm-5{
  color:#F84704;
  font:courier;
  background-image:url(../assets/message.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: left;
}
.col-sm-3{
  color:#039C8E;
  background-image:url(../assets/ring.gif);
  background-repeat: no-repeat;
  background-size:100%;
  height:200px;
}
.col-sm-4{
  background-image:url(../assets/transform.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  height:500px;
}
body{
  background-image:url(../assets/background.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}
form{
  text-align:center;
}

input{
  font-size: 16px;
  margin-top: 20px;
}

/*
first-child is used to select the first element in another element
*/

p:first-child{
  width:400px;
  text-align:center;
  margin:auto;
  margin-top: 10px;
}

#text-output{
  color:#F55707;
  text-align:center;
  background-color: #1E1B03;
}
