body {
  background: url(../assets/max.gif);
  background-size: cover;
  background-repeat: no-repeat;
  }
textarea {
  outline: none;
}
textarea {
  resize: none;
}
textarea {
  overflow: auto;
}
.w3-container{
  text-align: left;
}
.projects {
    background:lightgrey;
    padding: 30px 0;
}
